html, body {
  position: fixed;
  height: 100%;
  margin: 0;
}

.outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
  box-sizing: border-box;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: blue;
}